.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	margin: 32px;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.board button {
	width: 1.5em;
	height: 1.5em;
	font-size: 64px;
	background-color: white;
}

.restart {
	font-size: 18px;
	visibility: hidden;
}
